<div class="form row">
  <form class="col-xs-8 col-xs-offset-2" role="form">
  <h2>Weather App</h2>
  <h4>Login or <a href="#" id="registerPage">Sign Up</a></h4>
    <div class="form-group">
      <label for="emailLogin">Email address:</label>
      <input type="email" class="form-control" id="emailLogin" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="pwdLogin">Password:</label>
      <input type="password" class="form-control" id="pwdLogin" placeholder="Password">
    </div>
    <button id="submitLogin" type="submit" class="btn btn-default">Log In</button>
  </form>
</div>
