<div class="form row">
  <form class="col-xs-8 col-xs-offset-2">
  <h2>Weather App</h2>
  <h4><a href="#" id="loginPage">Login</a> or Sign Up</h4>
    <div class="form-group">
      <label for="emailRegister">Email address</label>
      <input type="email" class="form-control" id="emailRegister" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="passwordRegister">Password</label>
      <input type="password" class="form-control" id="pwdRegister" placeholder="Password">
    </div>
     <div class="form-group">
      <label for="passwordRegisterCheck">Confirm Password</label>
      <input type="password" class="form-control" id="passwordRegisterCheck" placeholder="Re-enter Password">
    </div>
{{!--     <div>
      <p class='errorMessage' id='errorMessage'>Error Messages: e.g. password doesn't match. </p>
    </div> --}}
    <button id="submitRegister" type="submit" class="btn btn-default">Sign Me Up!</button>
  </form>
</div>
