<h1>This is populating!</h1>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2 weatherDiv">
    <div class="row">
      <div class="col-sm-8">
        <img src="http://www.omgubuntu.co.uk/wp-content/uploads/2013/12/Flat-Weather-Icon-Set.png" class="img-responsive">
      </div>
      <div class=col-sm-4>
        {{!-- <span class="glyphicon glyphicon-remove" imdbID='{{imdb></span> --}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p>{{main.temp}}</p>
      </div>
    </div>
    <button class="col-sm-8 btn btn-defualt userRatingButton" cityID="{{city.id}}" id='saveButton{{city.id}}' style='display: none;'>Save Weather Info</button>
  </div>
</div>
