<div>
  <form>
  <div class="zipcode">
      <label for="zipcode" class="required">Zipcode:</label>
      <input id="searchZip" type="search" pattern="[0-9]{5,5}"  placeholder="Enter Zip Code" required title="Please enter your zipcode">
      <button id="searchButton">Search    <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
    </div>
  </form>
    <div id="ziphtml">
    testing
    </div>
</div>
